.btn, button {
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 2rem;
  line-height: 0;
  height: 100%;
  color: $white;
  border-radius: 4rem;
  background-color: $purple;
  transition: all .2s;
  font-size: 1.5rem;

  &:hover {
    color: $white;
    background-color: lighten($purple, 10%);
  }

  & > * {
    vertical-align: middle;
    display: inline-block;
  }

  .icon {
    padding-right: 1.5rem;
  }
}

.icon {
  display: inline-block;
}

input {
  border: 0;
  outline: 0;
  color: $gray;
  font-family: $sans;
  font-size: 100%;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
