.btn, button {
  max-width: 39rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 2rem;
  line-height: 0;
  height: 100%;
  color: $white;
  border-radius: 100px;
  background-color: $purple;
  transition: all .2s;
  font-size: 1.5rem;

  &:hover {
    color: $white;
    background-color: lighten($purple, 10%);
  }

  & > * {
    vertical-align: middle;
    display: inline-block;
  }

  .icon {
    padding-right: 0.5rem;
  }
}

.icon {
  display: inline-block;
}
