$content-width: 39.75rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 1rem;
  width: 80%;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  header, section, footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.hero {
  text-align: center;
}

// home page
.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .logo {
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .tagline {
    margin-bottom: 1rem;
  }

  .subtitle {
    @extend %h3;
    margin-bottom: 2rem;
  }
}

// profile page
.profile-page {
  .logo {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
  }
}

header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.row-link {

  &:hover {
    .craft {
      color: $dark-gray;
    }
    .user {
      color: $purple;
      .name {
        transform: translateY(-100%);
        opacity: 0;
      }
      .handle {
        top: 0%;
        opacity: 1;
      }
    }
    .profile img {
      transform: scale(1.25);
    }

  }
}

.row {
  font-size: 1.5rem;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .2s;
}

.craft {
  transition: all .2s;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    padding-left: 5rem;
    margin-right: 2.5rem;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all .2s;
  }
}

.user {
  position: relative;
  overflow: hidden;

  .handle, .name {
    transition: all .2s;
    display: inline-block;
  }

  .handle {
    top: 100%;
    right: 0;
    position: absolute;
    opacity: 0;
  }

  .name {
    transform: translateY(0%);
    opacity: 1;
  }

}
