$content-width: 45rem;

$transition-duration: .3s;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 1rem;
  width: 80%;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }
}

.hero {
  text-align: center;
}

.logo {
  user-select: none;
}

// home page
.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .logo {
    margin-bottom: 2rem;
    display: block;
  }

  .tagline {
    margin-bottom: 1rem;
  }

  .subtitle {
    @extend %h3;
    margin-bottom: 2rem;
  }
}

// profile page
.profile-page {
  .logo {
    width: 3rem;
    height: 3rem;
    display: inline-block;
  }
}

header {
  margin: 6rem 0;

  .profile {
    &:hover, .editing {
      color: $purple;
      img {
        transform: scale(1.25);
      }
    }
  }

}

.row-link {
  display: block;
  margin-bottom: 1rem;

  &:hover, .editing {
    .craft {
      color: $black;
    }
    .user {
      color: $purple;
      .name {
        transform: translateY(-100%);
        opacity: 0;
      }
      .handle {
        top: 0%;
        opacity: 1;
      }
    }
    .profile img {
      transform: scale(1.25);
    }

  }
}

.row {
  font-size: 1.5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.craft {
  transition: color $transition-duration;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    padding-left: 5rem;
    margin-right: 3rem;
  }

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: transform $transition-duration ease;
  }
}

.user {
  position: relative;
  overflow: hidden;

  .handle, .name {
    transition: color $transition-duration ease, transform $transition-duration ease, top $transition-duration ease, opacity $transition-duration ease;
    display: inline-block;
  }

  .handle {
    top: 100%;
    right: 0;
    position: absolute;
    opacity: 0;
  }

  .name {
    transform: translateY(0%);
    opacity: 1;
  }

}
